/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2018, 9:35:21 AM
    Author     : abhishek.s
*/


.balanced{
    color: #000066;
}
.energized{
    color: #FFA500;
}